/*Header 開始*/

.card,
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.card:hover {
    background: hsla(133, 100%, 25%, 0.9);
}

.card-panel {
    height: 3em;
    line-height: 3em;
    text-align: center;
    font-size: 1.6em;
    background: hsla(133, 100%, 25%, 0.65);
    color: #000;
    margin-top: 40px;
}

a,
a:visited,
a:active,
a:hover {
    color: #000;
    text-decoration: none!important;
}


/*small-device時改小padding*/

@media screen and (max-width: 767px) {
    .col-xs-3 {
        padding: 0 1px;
    }
    .card-panel {
        font-size: 1.15em;
    }
}


/*小螢幕時字體小一點 不然字會wrap...*/

@media screen and (max-width: 320px) {
    .card-panel {
        font-size: 1em;
    }
    .col-xs-3 {
        padding: 0.5px;
    }
}


/*微軟正黑體好看*/

body,
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
}


/* Header 結束 */


/* Portfolio 開始 */

div.portfolio {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

div.portfolio>div.portfolio-header {
    color: #fff!important;
    background-color: #2196F3!important;
}

div.portfolio>div.portfolio-header:after,
div.portfolio>div.portfolio-header:before {
    content: "";
    display: table;
    clear: both;
}


/* Portfolio 結束 */