/*通用*/
.section-header{
    text-align: center;
    margin-bottom:30px;
}



/*微軟正黑體好看*/

body,
input,
button,
select,
textarea {
    font-family: "微軟正黑體";
}

.tag {
    background-color: #f04646;
    border-radius: 15px;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
    color:white;
    margin:5px;
    
}
/*通用 end*/

/*Header 開始*/
/*Hello文字 小螢幕時置中*/
nav{
    margin-top:30px;
}
.header-cover{
   padding:30px 15px;
   height:400px;
    background-image: url(../img/background.jpg);

  -webkit-background-size: 100% 400px;
  -moz-background-size: 100% 400px;
  -o-background-size: 100% 400px;
  background-size: 100% 400px
}
.jason-hello{
    text-align:center;
    font-size:2em;
    background-color:rgba(0,0,0, 0.5);
    color:white;
    text-shadow: 0 2px 4px rgba(255,255,255,.5);

}


.card,
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.card:hover {
    background: hsla(133, 100%, 25%, 0.9);
}

.card-panel {
    height: 3em;
    line-height: 3em;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    font-weight: 700;
    font-size: 1.6em;
    background: hsla(133, 100%, 25%, 0.65);
    color: white;
    margin-top: 20px;
}

a,
a:visited,
a:active,
a:hover {
    color: #000;
    text-decoration: none!important;
}


/*small-device時改小padding*/

@media screen and (max-width: 767px) {
    .col-xs-3 {
        padding: 0 1px;
    }
    .card-panel {
        font-size: 1.15em;
    }
}


/*小螢幕時字體小一點 不然字會wrap...*/

@media screen and (max-width: 320px) {
    .card-panel {
        font-size: 1em;
    }
    .col-xs-3 {
        padding: 0.5px;
    }
}



/* Header 結束 */


/* Portfolio 開始 */


div.portfolio {
    margin-bottom:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.portfolio>div.portfolio-header {
    color: #fff;
    background-color: #2196F3;
}

div.portfolio>div.portfolio-header:after,
div.portfolio>div.portfolio-header:before {
    content: "";
    display: table;
    clear: both;
}

div.portfolio div.portfolio-img{
    padding:5px 5px;
}
/* Portfolio 結束 */